.dashboardBody{
    min-height: 100vh;
    background-color: #FFFBE6;
    color: #0A6847;
}

header{
    padding-inline: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerImg{
    width: 5em;
    height: 5em;
    border-radius: 100%;
    cursor: pointer;
}

.addContainer{
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.headerHolder{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.headerHolder > button{
    width: 10em;
    height: 3.5em;
    background-color: #0A6847;
    border: none;
    outline: none;
    border-radius: 2em;
    font-weight: 600;
    color: #FFFBE6;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.addContainer > select{
    width: 12em;
    height: 3.5em;
    background-color: #0A6847;
    border: none;
    outline: none;
    border-radius: 2em;
    font-weight: 600;
    color: #FFFBE6;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-size: 1em;
    cursor: pointer;
    padding-inline: 1.5em;
}

.addSelection{
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.addSelection > img{
    width: 2.5em;
    cursor: pointer;
}

.songsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.songsHeader{
    margin-block: 1em;
    padding-inline: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    
    border-bottom: 0.1em solid #0A6847;
}

.songNameHolder, .otherSongDetails{
    font-weight: 600;
    width: 40vw;
    display: flex;
    align-items: center;
    gap: 2em
}

.otherSongDetails{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    padding-inline-end: 2em;
}

.songs{
    width: 70vw;
    max-height: 80vh;
    overflow-y:auto;
    margin-bottom: 2em;
}

.songCard{
    display: flex;
}

.songCard  img{
    width: 4.5em;
    height: 4.5em;
    border-radius: 0.5em;
    
}

.songCard > .otherSongDetails p{
    font-weight: 400;
}

.helpButton, .createButton{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 12em;
    background-color: #0A6847;
    color: #FFFBE6;
    height: 3.5em;
    border: none;
    outline: none;
    border-radius: 2em;
    font-weight: 600;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.helpButton img{
    width: 1.2em;
}

.bottomButtons{
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

.noSongs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.inputBox{
    border-radius: 2em;
    border-color: #0A6847;
    height: 4em;
    width: 30em;
    padding-inline: 2em;
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.inputBox > input{
    outline: none;
    border: none;
    height: 100%;
    width: 90%;
    font-family:"Plus Jakarta Sans", sans-serif;
}

.bottomButtons > input{
    outline: none;
    border: none;
    border-radius: 2em;
    height: 4.5em;
    width: 20em;
    padding-inline: 2em;
    font-family:"Plus Jakarta Sans", sans-serif;
}

.inputBox > img {
    width: 2em;
    cursor: pointer;
}

.image-hovered {
    opacity: 0.5; /* Adjust this value as needed */
}
